<div style="position: relative;">
    <button class="close-button" (click)="onCloseClick()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  
    <h1 class="text-center" mat-dialog-title>Dodaj składnik</h1>
    <hr>
    <div mat-dialog-content>
      <div class="flex">
        <p>Nazwa</p>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="ingredient.name" maxlength="25" autocomplete="off"
            (keydown)="onKeyPress($event, ingredient.name)">
          <mat-hint align="end">{{ingredient.name.length}} / 25</mat-hint>
        </mat-form-field>
      </div>   
     
      <p>Ilość</p>
      <mat-form-field appearance="outline">
        <textarea matInput [(ngModel)]="ingredient.amount" maxlength="15" autocomplete="off"
          (keydown)="onKeyPress($event, ingredient.amount)"></textarea>
        <mat-hint align="end">{{ingredient.amount.length}} / 15</mat-hint>
      </mat-form-field>
      <hr>
    </div>
  
    <div mat-dialog-actions align="center">
      <button class="btn border-add text-btn" type="submit" (click)="onSubmit()"
        [disabled]="ingredient.name == '' || ingredient.amount == ''">Dodaj składnik</button>
    </div>
  </div>
  
     