.plus{
    position: relative;
    transform: scale(1.3);
    color: azure;
}

.text-white{
    color: azure !important;
    font-size: 14px;
}


.d-flex{
    align-items: center;
    justify-content: space-around;
}

.btn-add{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.border-add:hover{
    background-color: #9c9898e1;
    border-color:  #a8a8a89c !important;   
}

.border-add{  
    background-color: #a8a8a8e1;
    border-color:  #a8a8a8de !important;
    min-width: 17rem;
    height: 4rem;
    border-radius: 25px !important;
}

.card-header{
    font-size: 18px;
    color: #4c8bb8d2 !important;
  }

  .mat-form-field input {
      background-color: #424242 !important;
  }