<div class="card border-info" style="width: 35rem; height: 12rem;" (click)="onDetailsClick()">
    <div class="card-header">{{recipe?.name}}</div>
    <div class="card-body">
      <p class="text-truncate">{{recipe?.description}}</p>
    </div>
  </div>