<div style="position: relative;">
    <button class="close-button" (click)="onCloseClick()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  
    <h1 class="text-center" mat-dialog-title>Edytuj składnik</h1>
    <div mat-dialog-content>
  
      <p>Nazwa:</p>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="name" autocomplete="off" maxlength="25" (keydown)="onKeyPress($event, name)">
        <mat-hint align="end">{{name.length}} / 25</mat-hint>
      </mat-form-field>
  
      <p>Ilość:</p>
      <mat-form-field appearance="outline">
        <textarea matInput [(ngModel)]="amount" autocomplete="off" maxlength="15"
          (keydown)="onKeyPress($event, amount)"></textarea>
        <mat-hint align="end">{{amount.length}} / 15</mat-hint>
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions align="center">
      <button class="btn border-add" type="submit"
        [disabled]="(data.ingredient.name == name && data.ingredient.amount == amount) || name == '' || amount == ''"
        (click)="onEditClick()">Edytuj</button>
    </div>
  </div>
  