<div style="position: relative;">
    <button class="close-button" (click)="onCloseClick()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  
    <h1 class="text-center" mat-dialog-title>Dodaj przepis</h1>
    <hr>
    <div mat-dialog-content>
      <div class="flex">
        <p>Tytuł</p>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="recipe.name" maxlength="50" autocomplete="off"
            (keydown)="onKeyPress($event, recipe.name)">
          <mat-hint align="end">{{recipe.name.length}} / 50</mat-hint>
        </mat-form-field>
      </div>   
     
      <p>Opis</p>
      <mat-form-field appearance="outline">
        <textarea matInput [(ngModel)]="recipe.description" maxlength="2000" autocomplete="off"
          (keydown)="onKeyPress($event, recipe.description)"></textarea>
        <mat-hint align="end">{{recipe.description.length}} / 2000</mat-hint>
      </mat-form-field>
      <hr>
      <p>Kategoria</p>
      <div class="text-center">
        <mat-form-field>
            <mat-label>Typ przepisu</mat-label>
            <mat-select style="color: black;" [(value)]="selectedOption">
              <mat-option *ngFor="let type of recipeTypes" [value]="type.value">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
  
    <div mat-dialog-actions align="center">
      <button class="btn border-add text-btn" type="submit" (click)="onSubmit()"
        [disabled]="recipe.name == '' || recipe.type == ''">Dodaj przepis</button>
    </div>
  </div>
  