<div *ngIf="!loading" class="container">

    <div class="row" style="margin: 0px;">
      <h1 style="margin-top: 5px;"> {{recipe?.name}} </h1>
      <div class="btn-group">
        <button style="margin: 5px 2px;" title="Edytuj" mat-icon-button class="delete_btn" (click)="onEditRecipeClick()">
          <mat-icon>edit</mat-icon>
        </button>
        <button style="margin: 5px 2px;" title="Usuń" mat-icon-button class="delete_btn"
          (click)="onDeleteRecipeClick()">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
    <hr>
    <p>{{recipe?.description}}</p>
    <div class="row">
      <div class="col">
        <button class="btn border-add text-white" type="submit" (click)="openAddIngredientDialog()">Dodaj
          składnik</button>
      </div>
    </div>
  
    <mat-card *ngIf="recipe?.ingredients.length == 0" class="question-card">
      <mat-card-content class="text-center">
        Brak składników.
      </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let ingredient of recipe?.ingredients" class="question-card">
      <mat-card-header>
        <mat-card-title class="title">
          <div class="text">{{ingredient?.name}}</div> 
          <button mat-icon-button class="mat_btn" title="Edytuj" (click)="onEditIngredientClick(ingredient)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="mat_btn" title="Usuń" (click)="onDeleteIngredientClick(ingredient)">
            <mat-icon>delete</mat-icon>
          </button>                  
 
        </mat-card-title>
        <mat-card-subtitle>{{ingredient?.amount}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  
  </div>
  