mat-card-subtitle{
    color: rgba(0, 0, 0, 0.767);
}

mat-card-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px !important;
}

.container{
    width: 100%;
    background-color: #e8e8e8c7;
}

.row{
    display: flex;
    justify-content: space-between;
}

.mat-icon-button{
    width: 30px !important;
    transform: scale(1.3);
}

.border-add:hover{
    background-color: #9c9898e1;
    border-color:  #a8a8a89c !important;   
}

.mat_btn{
    margin-top: -2px !important;
    margin-bottom: 0px;
    transform: scale(1);
}

.buttons{
    margin: -5px 10px;
    display:flex;
    justify-content: flex-end;
}