.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.form-margin {
    margin-top: 50px;
}

.form-row {
    justify-content: center;
    width: 100% !important;
}

.mat-form-field input{
    width: 100vh !important;
}

mat-input-element {
    color: rgb(170, 118, 118);
}

.text {
    color: #9e9e9e !important;
    font-size: 16px;
    margin-left: 5px;
}


mat-form-field{
    width: 100% !important;
}

form{
    width: 50vh !important;
}


.row{
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin-left: 0px !important;
}

input {
	background-color: #424242;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    color: white;
}

.btn-add{
    border-radius: 20px;
	border: 1px solid #D98880 ;
	background-color:#D98880 ;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
