<div class="container">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="row col-sm">
                <mat-form-field appearance="d-none">
                    <input matInput placeholder="Email" formControlName="Email" autocomplete="off">
                </mat-form-field>
                <label class="text"
                       *ngIf="service.formModel.get('Email').touched && service.formModel.get('Name').errors?.required">Pole
                    jest wymagane.</label>
                <label class="text"
                       *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.pattern">
                       Niepoprawny adres email.</label>
        </div>
        <div class="row col-sm">
                <mat-form-field appearance="d-none">
                    <input matInput placeholder="Imię" formControlName="Name" autocomplete="off" (keydown)="onDataInput($event)">
                </mat-form-field>
                <label class="text"
                       *ngIf="service.formModel.get('Name').touched && service.formModel.get('Name').errors?.required">Pole
                    jest wymagane.</label>
        </div>
        <div class="row col-sm">
                <mat-form-field appearance="d-none">
                    <input matInput placeholder="Nazwisko" formControlName="Surname" autocomplete="off" (keydown)="onDataInput($event)">
                </mat-form-field>
                <label class="text"
                       *ngIf="service.formModel.get('Surname').touched && service.formModel.get('Surname').errors?.required">Pole
                    jest wymagane.</label>
        </div>

        <div formGroupName="Passwords">
            <div class="row col-sm">
                    <mat-form-field appearance="d-none">
                        <input matInput placeholder="Hasło" type="password" formControlName="Password" (keydown)="onDataInput($event)"
                               maxlength="20">
                        <mat-hint align="end">
                            {{service.formModel.get('Passwords.Password').value?.length == null ? 0 : service.formModel.get('Passwords.Password').value.length}}/20
                        </mat-hint>
                    </mat-form-field>
                    <label class="text"
                           *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Pole
                        jest wymagane.</label>
                    <label class="text"
                           *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Hasło
                        musi mieć co najmniej 8 znaków.</label>
            </div>
            <div class="row col-sm">
                    <mat-form-field appearance="d-none">
                        <input matInput placeholder="Potwierdź hasło" type="password" formControlName="ConfirmPassword" (keydown)="onDataInput($event)"
                               maxlength="20">
                        <mat-hint align="end">
                            {{service.formModel.get('Passwords.ConfirmPassword').value?.length == null ? 0 : service.formModel.get('Passwords.ConfirmPassword').value.length}}/20
                        </mat-hint>
                    </mat-form-field>
                    <label class="text"
                           *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Pole
                        jest wymagane.</label>
                    <label class="text"
                           *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.minlength">Hasło
                        musi mieć co najmniej 8 znaków.</label>
                    <label class="text"
                           *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Wprowadzone
                        hasła muszą być takie same.</label>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="form-group col-md-8 offset-md-2">
                <button class="btn btn-add" 
                [disabled]="!service.formModel.valid">
                    <div class="text-black">Dodaj użytkownika</div>
                </button>
            </div>
        </div>
    </form>
</div>
