<app-navbar></app-navbar>

<div class="row" id="mainContent">
    <app-sidebar id="sidebar" class="col-sm-2 col-md-2 d-none d-sm-block">
    </app-sidebar>
    <div class="col-sm-10 ml-sm-auto col-md-10 pt-3">
      <div id="dashboard">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>