<div class="container">
    <div *ngIf="!loading">
      <div class="row">
        <div class="card-group">        
          <div *ngIf="recipes == null || recipes?.length == 0">
            <div class="card border-info" style="width: 50rem; height: 11rem;" (click)="onDetailsClick()">
              <div class="card-header">Brak przepisów</div>
              <div class="card-body">
                <p class="text-truncate">Żaden użytkownik nie dodał jeszcze przepisu</p>
              </div>
            </div>
          </div>
          <div *ngFor="let recipe of recipes">
            <app-recipe [recipe]="recipe"></app-recipe>
          </div>
        </div>
      </div>
    </div>
  </div>
  