<ul class="nav nav-pills flex-column" style="margin-top: 5px">
    <li class="nav-item">
        <a class="nav-link" routerLink="users">
            Użytkownicy
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="registration">
            Dodaj użytkownika
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="recipes">
            Przepisy
        </a>
    </li>
</ul>
