a {
    color: white;
}

.navbar-brand {
    color: #D98880  !important;
    font-size: 20px;
    padding-left: 0.5rem;
}

.navbar {
    min-height: 60px;
    margin-bottom: 0px;
    border: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;

}

.navbar-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.username {
    margin: auto;
    color: black;
}

