
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <a class="navbar-brand" routerLink="recipes">Przepiśnik
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"> <span class="username">{{getUserEmail()}}</span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="onChangePassword()">Zmień hasło</a></li>
                        <li><a (click)="onLogout()">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>     
    </nav>

    
    