<div class="container" id="container">
    
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Przepisy</h1>
        </div>
      </div>
    </div>
    <div class="form-container log-in-container">
        <form autocomplete="off"
              (submit)="onSubmit()">
          <h1>Strona logowania</h1>
          <input name="username"
                [(ngModel)]="formModel.username"
                placeholder="Email"
                required>
          <input name="password"
                [(ngModel)]="formModel.password"
                type="password"
                placeholder="Hasło"
                required>
          <button type="submit">Zaloguj się</button>
        </form>
    
      </div>
  </div>
  